.mini-footer {
    background: rgb(250, 250, 251);
    text-align: center;
    padding: 32px 0;
    border-top: 1px solid #c5c5c5;
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999
}

.mini-footer p a {
    color: #5867dd
}

.mini-footer p a:hover {
    color: #34bfa3
}